#navb{
    float: right;      
}


.boxed {
  border: 1px solid grey;
    padding: 15px;
    text-align: left;
}

#footer1{
    font-size: 10px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

#footer2{
    font-size: 25px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
   margin-top: 150px;
    bottom: 0px;
    width: 100%;
}

#thanks{
    text-align: center;
    font-size:100px;
}

.bodyfont{
    font-family: "Montserrat";
    
}




/*products*/

.coffeeName{
    font-size: 50px;
   text-align: center;
}

.hide-bullets{
    list-style:none !important;
    margin-left: -40px  !important;
    margin-top:20px  !important;
    border: none  !important;
    
}

.thumbnail {
    padding: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img  .carousel-inner>.item>video
{
    width: 100%;
    height: auto;
}
    
.motto{
    margin-top: 75px;
    margin-bottom: 200px;
    font-size: 50px;
    font-family: "Montserrat"
}

.coffeeType{
      font-size: 50px;
     text-align: center;
     margin-bottom: 50px;
}

.latin{
    margin-top: 75px;
    margin-bottom: 75px;
    color:grey;
   font-size: 20px;
}

 span {
    display: inline;
    height: 100px;
    width: 100px;
    line-height: 60px;

    -moz-border-radius: 30px;
    border-radius: 30px;

    background-color: white;
    color: black;
    text-align: center;
    font-size: 30px;
}

.block{
    text-align: center;
    background-color: black;
    font-size:40px;
   
}

hr { 
    display: block;
    margin-top: -20px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 0.5px;
} 

.checkOut{
    font-size: 30px;
    text-align: center;
}
.shippingCost{
    
    text-align: center;
    
}

.inputBox{
    display: block;
    width: 100%;
    height: 50px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
}

.tableBox {
    padding: 100px;
    text-align: left;
}
   

.titleMargin{
    margin-top: 50px;
}

.return{
    font-size: 12px;
}

.inputMargin{
    margin-top: 15px;
}
.bgcolor{
    
    background-color: #F5F5F5;

}

.ccImg{
      height: 20px;
    width: 150px;
}

.bfcolor{
    color: white;
}
.blackbox{
    margin-top: 75px;
    margin-bottom: 200px;
        
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.items {
  position: relative;
  margin: 5%;
  overflow: hidden;
  width: 50%;
 
  
}


.items img {
   width: 100%;
   
 
  
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.items:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.cover {
  width: 1000px;
  height: 500px;
}

.icon img{
    height: 50px;
    width: 50px;
}

.icon{
    
    margin-top: 20px;
}


.checkbox{
    margin-left:3%;
}

.drink{
    padding:2%;
}

.videoImg{

    width:1%;

}

.imgSlide{
 
    height:300px;
    width:100%;
}

.item{
width:100%;
height:475px;

}
